@charset "utf-8";
/* CSS Document */

body { 
margin: 0;
padding: 0;
}

@media screen and (max-width: 576px){
   #wrapper {width:90%;  margin: 0 auto; }

#content {width:70%; float:left; }

#sidebar {width:30%; float:right; }
	
	
	img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
height: auto;
}
	video { 
	display: block;
  margin: 0 auto;
  max-width: 100%;
  width: auto;
height: auto
	
	}
	
	}


@font-face{font-family: Quesha;
src:url("../POOSH, EVIDENCIA FINAL/POOSH, EVIDENCIA FINAL/Quesha.ttf");}

@font-face{font-family: NewYork;
src:url("../POOSH, EVIDENCIA FINAL/POOSH, EVIDENCIA FINAL/NewYork.otf");}

@font-face{font-family: Kiona Regular;
src:url("Kiona-Regular.ttf")}

@font-face{font-family: a Auto Signature;
src:url("aAutoSignature.otf")}

@font-face{font-family: Acumin Variable Concept;
src:url("//db.onlinewebfonts.com/c/066ce24dae3730ed6c648b09efaea93a?family=Acumin+Variable+Concept")}

.elemento {
  box-shadow: 2px 2px 7px #000;
}
.imagen:hover {filter: opacity(.2);}

.imagen:hover {filter: blur(2px);}

.menu{font-family: Kiona Regular;font-size:15px; text-align: center; color: #e4d3c6;}

.menublack{font-family: Kiona Regular;font-size:15px; text-align: center; color: #000000;}

.texton{font-family: Kiona Regular;font-size:20px; text-align: center; color: #000000;}

.textoe{font-family: Kiona Regular;font-size:20px; text-align: left; color: #000000; margin: 10%;}

.textose{font-family: Kiona Regular;font-size:25px; text-align: left; color: #000000;}

.textopo{font-family: Kiona Regular;font-size:17px; text-align: center; color: #000000;}

.texto{font-family:"Kiyana Display UltraLight";font-size:20px; text-align: justify; color: #FFFFFF;width: 60%;
 margin: 0 auto;}

.textoblack{font-family:"Kiyana Display UltraLight";font-size:20px; text-align: justify; color: #000000;width: 60%;
 margin: 0 auto;}

.blanco{font-family: a Auto Signature;font-size:50px; text-align: center; color: #FFFFFF;}

.cuerpon{font-family: a Auto Signature;font-size:50px; text-align: center; color: #000000;}

.bordeb{border-radius: 0px;background-color: white;height: 2px; width: px; border-width: medium; color: white; align-content: center;}

.borden{border-radius: 0px;background-color: black;height: 2px; width: px; border-width: medium; color: white; align-content: center;}

.footer{border-radius: 0px;background-color: black;height: 150px; width: px;font-family: Kiona Regular;font-size:10px; font-kerning: none;text-align: center; color: white; align-content: center; }

.header{font-family: Quesha;font-size:50px; text-align: center; color: black; }
	
 .gra {font-family: Quesha;font-size:50px; text-align: center; color: black;
 
}


.nude{font-family: NewYork;font-size:60px; text-align: center; color: #000000;border-radius: 0px;background-color: #F1E0CC;height: 70px; width: px; align-content: center;}

.nudedos{font-family: Kiona Regular;font-size:30px; text-align: center; color: #000000; align-content: center; margin-top: 5%; margin-left: 10%; line-height: 200%; 
}

.container-all img{
	width: 600px; 
	height: 650px;
	float: left; 
	margin-bottom: 0px;
	margin-right: 40px;
	margin-left: 10px;
}

.us {font-family: NewYork;font-size:80px; text-align: center; color: black; }

.us3 {font-family: NewYork;font-size:40px; text-align: center; color: black; }

	
.us2 {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";font-size:37px; text-align: justify; color: black; }

.us4 {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";font-size:37px; text-align: center; color: black;}

.container-sus img{
	width: 550px; 
	height: 550px;
	float: left; 
	margin-bottom: 70px;
	margin-right: 0px;
	margin-left: 0px
}



/* JEXI */

/* contacto */

.izquierda {
	background: #FFFFFF;
	height: 10%;
	width: 50%;
	text-align: center;
	font-family: "Kiyana Display UltraLight";
	margin: auto;
	padding-top: 0px, 0px, 0px;
}


.derecha {
	background: url("contacto img.jpg");
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 10%;
	padding-top: 0px, 0px, 0px;
	padding-bottom: 20%
	
}

#pantalla-dividida {
	display: flex;
}

.creative {
	color:#FFFFFF;
}

h1 {
	font-size: 60px;
	width: 50%;
	margin: auto;
}

.contacto { font-size: 30px;
	background: #FFFFFF;
	line-height: 40px;
	width: 50%;
	margin: auto;
	font-family: "Kiyana Display UltraLight";
	text-align: center;	

}



.amenu { 
	border: 1px sollid #000000;
	color: #FFFFFF;

}


.link {
	text-align: center;
	border: medium;
	border:#000000;
}

.cuerpo {font-family: Kiona Regular;font-size:20px; text-align: center; color:black;}


/* INICIO  RIGHT*/ 

.rightj {
	background: #FFFFFF;
	height: 80vh;
	width: 80%;
	text-align: center;
	font-family: "Kiyana Display UltraLight";
	margin: auto;
	padding-top: 5%;
}


.leftj {
	background: url("jess.jpg");
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 90vh;
}

#pantalla-jess {
	display: flex;
}

.creative {
	color:#FFFFFF;
}

h1 {
	font-size: 60px;
	width: 50%;
	margin: auto;
}

.contacto { font-size: 30px;
	background: #FFFFFF;
	line-height: 40px;
	width: 50%;
	margin: auto;
	font-family: "Kiyana Display UltraLight";
	text-align: center;	

}


.amenu { 
	border: 1px sollid #000000;
	color: #FFFFFF;

}


.link {
	text-align: center;
	border: medium;
	border:#000000;
}

.cuerpo {font-family: Kiona Regular;font-size:20px; text-align: center; color:black;}


/* INICIO LEFT */ 

.left {
	background: #FFFFFF;
	height: 80vh;
	width: 80%;
	text-align: center;
	font-family: "Kiyana Display UltraLight";
	margin: auto;
	padding-top: 5%;
}


.right {
	background: url("ximena.jpg");
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 90vh;
}

#pantalla-ximena {
	display: flex;
}

.creative {
	color:#FFFFFF;
}

h1 {
	font-size: 60px;
	width: 50%;
	margin: auto;
}

.contacto { font-size: 30px;
	background: #FFFFFF;
	line-height: 40px;
	width: 50%;
	margin: auto;
	font-family: "Kiyana Display UltraLight";
	text-align: center;	

}


.amenu { 
	border: 1px sollid #000000;
	color: #FFFFFF;

}


.link {
	text-align: center;
	border: medium;
	border:#000000;
}

.cuerpo {font-family: Kiona Regular;font-size:20px; text-align: center; color:black;}


/* PORTAFOLIO */ 


.us3 {font-family: Kiona Regular ;font-size:40px; text-align: center; color: black; }


.container-is img{
	width: 400px; 
	height: 400px;
	float: left; 
	margin-bottom: 70px;
	margin-right: 40px;
	margin-left: 50px
}


/* SERIVIOS EDITORIAL */

.izquierda {
	background: #FFFFFF;
	text-align: center;
	font-family: Kiona Regular;
	padding-left: 10%;
	padding-top: none;
}


.derecha {
	padding-top: 15%;
	background: #FFFFFF;
	
}

#pantalla-servicios {
	display: flex;
}




.amenu { 
	border: 1px sollid #000000;
	color: #FFFFFF;
	font-family:NewYork;
	font-size: 10px;
	text-align: left;
	

}


.link {
	text-align: left;
	border: medium;
	border:#000000;
}


/* INICIO  BRANDING */ 

.rightj {
	background: #FFFFFF;
	height: 80vh;
	width: 80%;
	text-align: center;
	font-family: "Kiyana Display UltraLight";
	margin: auto;
	padding-top: 5%;
}


.leftj {
	background: url("jess.jpg");
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 90vh;
}

#pantalla-jess {
	display: flex;
}

.creative {
	color:#FFFFFF;
}

h1 {
	font-size: 60px;
	width: 50%;
	margin: auto;
}

.contacto { font-size: 30px;
	background: #FFFFFF;
	line-height: 40px;
	width: 50%;
	margin: auto;
	font-family: "Kiyana Display UltraLight";
	text-align: center;	

}



.amenu { 
	border: 1px sollid #000000;
	color: #FFFFFF;

}


.link {
	text-align: center;
	border: medium;
	border:#000000;
}

.cuerpo {font-family: Kiona Regular;font-size:20px; text-align: center; color:black;}



/* CARRUSEL CAMBIO */

.carrusel {
  margin: 0px;		
  position: relative;
  height: 400px;
  width: 501px;
  align-content: center;
  padding-left: 0px;	  
}

.carrusel img {
  position: absolute;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.carrusel img.top:hover {
  opacity: 0;
}

/* PORTAFOLIO */ 

.porta {
    margin-right: 10%;
	margin-left: 10%;
	margin-top: 0%;
	margin-bottom: 10%;
  position: relative;
  height: 400px;
  width: 501px;
  align-content: center;
  padding-left: 0px;
  font-family: "Kiyana Display UltraLight";
	font-size:15px; 
	text-align: center; color: #000000;
}

.porta img {
  position: absolute;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}

.porta img.top:hover {
  opacity: 0;
}

/* PORTAFOLIO TEXTO */ 

.portatext {
    margin-right: 10%;
	margin-left: 1%;
	margin-top: 0%;
	margin-bottom: 1%;
  position: relative;
  height: 45px;
  width: 501px;
  align-content: center;
  padding-left: 0px;
  font-family: "Kiyana Display UltraLight";
	font-size:20px; 
	text-align: center; color: #000000; 
}

/* ACERCA DE */

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor > div {
  width: 50%;
}


/* BOTON */

.boton1{

    text-decoration: none;
    display:inline-block;
    width:50%;
    padding:20px;
    border: 2px solid black;
    border-radius:0px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 30px;
	font-family: Kiona Regular;
    
  }

  .boton1:hover{
 
    background:black;
    color:white;

  }


.v-line{
 border-left: medium solid #000;
 height:116%;
 left: 55%;
 position: absolute;
	
}


/* BOTON SERVICIOS */

.botonS{

    text-decoration: none;
    display:inline-block;
    width:50%;
    padding:20px;
    border: 2px solid black;
    border-radius:0px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 20px;
	font-family: Kiona Regular;
    
  }

  .botonS:hover{
 
    background:black;
    color:white;

  }


.v-line{
 border-left: medium solid #000;
 height:116%;
 left: 55%;
 position: absolute;
	
}

/* LINK MENU */


/* LINKS */


a:link {
  color: black;
}

a:visited {
  color: #000000;
}

a:active {
  
  color: #000000;
}


 a :link .linkmenu {
  color: white;
}

a :visited .linkmenu {
  color: #FFFFFF;
}

a:active .linkmenu {
  
  color: #FFFFFF;
}
	

	
